<html>

<head>
	<title>fwrite title</title>
</head>

<body>
<!--	웹주소 : http://localhost:8080/board/fwrite
		templates : html
		static : 이미지, css, js, uploadPath
-->
	<h1>templates/board/fwrite.html</h1>
	<form action="/board/fwritePro" method="post" enctype="multipart/form-data">
		이름 : <input type="text" name="name" th:value="${#authentication.principal.Username}" readonly><br>
		제목 : <input type="text" name="subject"><br>
		내용 : <textarea name="content" rows="5" cols="10"></textarea><br>
		파일 : <input type="file" name="file"><br>
		<input type="hidden" th:name="${_csrf?.parameterName}"
											 th:value="${_csrf?.token}">
		<input type="submit" value="글쓰기">
	</form>
</body>

</html>