<html>

<head>
	<title>write title</title>
</head>

<body>
<!--	웹주소 : http://localhost:8080/board/write
		templates : html
		static : 이미지, css, js, uploadPath
-->
	<h1>templates/board/write.html</h1>
	<form action="/board/writePro" method="post">
		이름 : <input type="text" name="name" th:value="${#authentication.principal.Username}" readonly><br>
		제목 : <input type="text" name="subject"><br>
		내용 : <textarea name="content" rows="5" cols="10"></textarea><br>
		
		<input type="hidden" th:name="${_csrf?.parameterName}"
									 th:value="${_csrf?.token}">
		<input type="submit" value="글쓰기">
	</form>
</body>

</html>